.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #f0f0f0;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #666666;
    -fx-wrap-text: true;
}

.error {
    -fx-text-fill: #cc0000;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.TextField {
    -fx-padding: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-alignment: center;
}

.Button {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.Button:hover {
    -fx-background-color: #787878;
}

.HBox {
    -fx-spacing: 15;
}