.title{
    -fx-font-weight: bold;
    -fx-font-size: 30;
}

.subtitle{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.error{
    -fx-text-fill: red;
}

#usernameField{
    -fx-max-width: 200px;
}