.HBox {
    -fx-background-color: #f2f2f2;
    -fx-padding: 5;
    -fx-alignment: center-left;
}

.Label {
    -fx-text-fill: #333;
    -fx-font-size: 12px; /* Smaller font size suitable for status information */
}

#userInfoHBox {
    -fx-border-radius: 4; /* Rounded corners for the user info box */
    -fx-background-radius: 4; /* Apply radius to the background */
}

#statusInfoHBox {
    -fx-font-weight: bold;
    -fx-border-radius: 4; /* Rounded corners for the status info box */
    -fx-background-radius: 4; /* Apply radius to the background */
}
#statusLabel.online {
    -fx-text-fill: green;
}

#statusLabel.offline {
    -fx-text-fill: red;
}